body{
    background:brown;
    margin:20%;
    display:flex;
    min-height:100vh;
  }
  
  .caja{
    margin:auto;
    perspective:700px;
    perspective-origin:top;
    
  }
  
  .cara{
    width:200px;
    height:200px;
    background:green;
    transition: all 5s;
    transform:rotateX(50deg);
    transform-style:preserve-3d;
    
  }
  
  .cara1{
    width:200px;
    height:200px;
    background:silver;
    margin:auto;
    transform:rotateY(90deg);
  }
  .cara1:hover{
    transform:rotateY(960deg);
  }