body{
  background-color: antiquewhite;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 
  Calibri, 'Trebuchet MS', sans-serif;
}

ol, ul{
  list-style: none;
}
.header{
display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
width: 89%;
height: 100px;
background: url(banner.png) no-repeat center top;
background-size: cover;
}
.navbar{
  font-size: 20px;
  color: coral;
  display: float;
  justify-content: center;
  align-items: center;
  height: 63px;
  background:aquamarine;
  border-bottom: 2px blueviolet;
}

.navbar a{
  padding: 0 20px;
  color: darkgoldenrod;
  text-decoration:none;
  text-transform: uppercase;
  font: 15px 'Open Sans';

}

.contenido{
  padding: 80px 0;
  background: darkred;
  color: coral;

}

.titulo{
margin-bottom: 40px;
font-size: 60px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-transform: uppercase;
}

.imagen1{
  border-radius: 50%;
  width: 25%;
  height: 25%;
  position: relative;
  z-index: 1;
  
}
p{
  margin-bottom: 40px;
}
.tratamientos {
  background: darkturquoise;
  color: blueviolet;
  


}
.localizacion img{
  color: crimson;
  background: darkkhaki;
  padding-bottom: 0;
  max-width: 100%;
  width: 80%;
}